.navbar > a{
    display: inline-block;
    box-sizing: border-box;
    width: 90px;
    padding: 5px;
    margin: 0 6px 6px;
    background: yellow;
    text-decoration: none;
    text-align: center;
    font-size: min(10vw, 15px) ;
    color: red;
}
  
a.active {
    background: red;
    color: yellow;
}